
<h2 class="text-white">タスク編集</h2>
	<div class="py-4 px-4 bg-light">

  <%= link_to "一覧に戻る", tasks_path, class: "btn btn-primary" %>

  <%= render 'form', task: @task %>

  </div>

  <%= link_to "削除", @task, method: :delete, data: { confirm: "タスク「#{@task.title}」を削除します。よろしいですか？" }, class: "btn btn-danger" %>