<h2 class="text-white">ユーザー追加・除外</h2>
	<div class="py-4 px-4 bg-light">

  <%= form_with model: @room, local: true do |f| %>

      <%= f.collection_check_boxes(:user_ids, User.all, :id, :name) do |b| %>
        <%= b.label { b.check_box + b.text } %>
      <% end %>

  <%= f.submit "更新", class: "btn btn-success" %>
  <% end %>

  </div>