    <%= image_tag 'linkedin_banner_image_2' %>
<div class="py-4 px-4 bg-light">
  <div>
    <h1>Shererしよ？</h1>
    <p>Shererは学習のモチベーションを上げるための進捗共有サイトです。</p>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>
  </div>
</div>
