<h2 class="text-white">ルーム詳細</h2>
	<div class="py-4 px-4 bg-light">

	<%= link_to "ルーム一覧に戻る", rooms_path, class: "btn btn-success" %>
	<p><%= @room.name %></p>
	<table class="table table-bordered table-condensed" >
		<tbody>
			<tr>
				<th class="info col-xs-2 bg-light">ユーザ名</th>
				<th class="info col-xs-2 bg-light">メールアドレス</th>
				<th class="info col-xs-2 bg-light"></th>
			</tr>
　　　<% @room.users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td></td>
        </tr>
      <%  end %>
		</tbody>
	</table>
	</div>