<div class="form">
  <%= form_with model: post, url:posts_path, method: :post, local: true do |f| %>
    <%= f.text_area :content, class: "form-control", placeholder: "投稿内容を入力して下さい" %>
    <%= f.hidden_field :user_id %>
    <%= f.submit "投稿", class: "btn btn-success mt-3" %>
  <% end %>
</div>